* {
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #19171a;
  text-rendering: optimizeLegibility;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.submit-btn:disabled {
  background-color: white;
  color: rgb(61, 5, 61);
}

.submit-btn {
  border: 2px solid rgb(61, 5, 61);
  font-size: 25px;
  color: white;
  background-color: rgb(61, 5, 61);
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.submit-btn:hover:enabled {
  color: white !important;
  background-color: rgb(0, 0, 0);
}
textarea {
  outline: none;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 2px solid #40b8f0 !important;
  /* box-shadow: #40b8f0(0, 0, 0, 0.35) 0px 5px 15px !important; */
}

.ng-invalid:not(form) {
  border-left: 2px solid #a94442 !important;
}

.mandate {
  color: red;
  font-size: 12px;
}

input,
textarea {
  border-radius: 5px;
  border: solid 1.5px #d3d3d3 !important;
  box-shadow: 0 0 10px 0 rgba(71, 20, 65, 0.1);
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
input:hover,
textarea:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}
input:focus {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  outline-width: 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  color: darkblue;
}
h3 {
  margin: 0px 0px 0px 0px;
}

@media only screen and (min-width: 904px) {
  .outer-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 50px;
    grid-column-gap: 1px;
  }
  .inner-container {
    background-color: rgb(245 245 245);
    border: 1px solid #e7e2e2;

    grid-column: 2/12;
    grid-row: 1/18;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 25px;
    grid-column-gap: 1px;
  }

  #tag {
    grid-column: 2/5;
    grid-row: 5/6;
  }
  .tag-input {
    grid-column: 4/12;
    grid-row: 5/6;
  }
  #description {
    grid-column: 2/5;
    grid-row: 7/8;
  }
  .description-textarea {
    grid-column: 4/12;
    grid-row: 7/12;
  }
  #Rules {
    grid-column: 2/5;
    grid-row: 13/14;
  }
  .Rules-textarea {
    grid-column: 4/12;
    grid-row: 13/19;
  }
  #Prizes {
    grid-column: 2/5;
    grid-row: 20/21;
  }
  #prize-1 {
    grid-column: 4/8;
    grid-row: 20/21;
  }
  #prize-2 {
    grid-column: 8/12;
    grid-row: 20/21;
  }
  #ends-on {
    grid-column: 2/5;
    grid-row: 22/23;
  }
  .ends-on-input {
    grid-column: 4/6;
    grid-row: 22/23;
  }
  #skills {
    grid-column: 2/5;
    grid-row: 24/25;
  }
  .skills-input {
    grid-column: 4/12;
    grid-row: 24/25;
  }
  #Created-by {
    grid-column: 2/5;
    grid-row: 26/27;
  }
  .Created-by-input {
    grid-column: 4/7;
    grid-row: 26/27;
  }
  .User-id-input {
    grid-column: 8/11;
    grid-row: 26/27;
  }
  #Creation-date {
    grid-column: 2/5;
    grid-row: 28/29;
  }
  .Creation-date {
    grid-column: 4/6;
    grid-row: 28/29;
  }
  .submit-btn {
    grid-column: 6/9;
    grid-row: 31/33;
  }

  #title-tag {
    grid-column: 2/5;
    grid-row: 3/4;
  }
  .title-input {
    grid-column: 4/12;
    grid-row: 3/4;
  }
  .mandate {
    grid-row: 30;
    grid-column: 6/11;
  }
}

@media only screen and (min-width: 799px) and (max-width: 904px) {
  .outer-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 50px;
    grid-column-gap: 1px;
  }
  .inner-container {
    background-color: rgb(245 245 245);
    border: 1px solid #e7e2e2;

    grid-column: 1/13;
    grid-row: 1/18;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 25px;
    grid-column-gap: 1px;
  }

  #tag {
    grid-column: 2/4;
    grid-row: 5/6;
  }
  .tag-input {
    grid-column: 5/12;
    grid-row: 5/6;
  }

  #title-tag {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .title-input {
    grid-column: 5/12;
    grid-row: 3/4;
  }
  #description {
    grid-column: 2/4;
    grid-row: 7/8;
  }
  .description-textarea {
    grid-column: 5/12;
    grid-row: 7/12;
  }
  #Rules {
    grid-column: 2/4;
    grid-row: 13/14;
  }
  .Rules-textarea {
    grid-column: 5/12;
    grid-row: 13/19;
  }
  #Prizes {
    grid-column: 2/4;
    grid-row: 20/21;
  }
  #prize-1 {
    grid-column: 5/9;
    grid-row: 20/21;
  }
  #ends-on {
    grid-column: 2/4;
    grid-row: 22/23;
  }
  .ends-on-input {
    grid-column: 5/7;
    grid-row: 22/23;
  }
  #skills {
    grid-column: 2/4;
    grid-row: 24/25;
  }
  .skills-input {
    grid-column: 5/12;
    grid-row: 24/25;
  }
  #Created-by {
    grid-column: 2/4;
    grid-row: 26/27;
  }
  .Created-by-input {
    grid-column: 5/8;
    grid-row: 26/27;
  }
  .User-id-input {
    grid-column: 9/12;
    grid-row: 26/27;
  }
  #Creation-date {
    grid-column: 2/4;
    grid-row: 28/29;
  }
  .Creation-date {
    grid-column: 5/7;
    grid-row: 28/29;
  }
  .submit-btn {
    grid-column: 6/9;
    grid-row: 31/33;
  }

  .mandate {
    grid-row: 30;
    grid-column: 5/12;
  }
}

@media only screen and (max-width: 799px) {
  * {
    font-size: 14px;
  }
  .outer-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 50px;
    grid-column-gap: 1px;
  }
  .inner-container {
    background-color: rgb(245 245 245);
    border: 1px solid #e7e2e2;

    grid-column: 1/13;
    grid-row: 1/18;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    display: grid;
    grid-template-columns: repeat(14, minmax(0, 1fr));
    grid-auto-rows: 25px;
    grid-column-gap: 1px;
  }

  #tag {
    grid-column: 2/4;
    grid-row: 5/6;
  }
  .tag-input {
    grid-column: 5/14;
    grid-row: 5/6;
  }

  #title-tag {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .title-input {
    grid-column: 5/14;
    grid-row: 3/4;
  }
  #description {
    grid-column: 2/4;
    grid-row: 7/8;
  }
  .description-textarea {
    grid-column: 5/14;
    grid-row: 7/12;
  }
  #Rules {
    grid-column: 2/4;
    grid-row: 13/14;
  }
  .Rules-textarea {
    grid-column: 5/14;
    grid-row: 13/19;
  }
  #Prizes {
    grid-column: 2/4;
    grid-row: 20/21;
  }
  #prize-1 {
    grid-column: 5/10;
    grid-row: 20/21;
  }
  #ends-on {
    grid-column: 2/4;
    grid-row: 22/23;
  }
  .ends-on-input {
    grid-column: 5/10;
    grid-row: 22/23;
  }
  #skills {
    grid-column: 2/5;
    grid-row: 24/25;
  }
  .skills-input {
    grid-column: 5/14;
    grid-row: 24/25;
  }
  #Created-by {
    grid-column: 2/5;
    grid-row: 26/27;
  }
  .Created-by-input {
    grid-column: 5/10;
    grid-row: 26/27;
  }
  .User-id-input {
    grid-column: 10/14;
    grid-row: 26/27;
  }
  #Creation-date {
    grid-column: 2/4;
    grid-row: 28/29;
  }
  .Creation-date {
    grid-column: 5/10;
    grid-row: 28/29;
  }
  .submit-btn {
    grid-column: 5/11;
    grid-row: 31/33;
  }

  .mandate {
    grid-row: 30;
    grid-column: 4/14;
  }
}
