/* You can add global styles to this file, and also import other style files */
body {
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    rgb(0, 191, 255, 1),
    rgba(0, 191, 255, 0.5),
    rgba(225, 255, 255, 1)
  );
  /* act on all viewports */
}
.flex-container {
  display: inline-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* 
.logo { */
/* display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px; */
/* background: url(./images/logo.svg); */
/* background: url(./assets/scripbox.png);
  background-size: 100px 82px;
} */
