/* You can add global styles to this file, and also import other style files */
/* * {
  margin: 0px;
} */
.flex-container {
  display: inline-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.scripbox-logo {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
/* 
.logo { */
/* display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px; */
/* background: url(./images/logo.svg); */
/* background: url(./assets/scripbox.png);
  background-size: 100px 82px;
} */
