<div class="container">
  <!-- nav bar -->
  <div class="nav-container">
    <button
      class="nav-content"
      id="live-btn"
      [ngClass]="{ 'btn-active': dataActive === 'Live' }"
    >
      Live
    </button>
    <button
      class="nav-content"
      id="past-btn"
      [ngClass]="{ 'btn-active': dataActive === 'Past' }"
    >
      Past
    </button>
  </div>
  <!-- sort - bar -->
  <div class="sort-container">
    <label style="text-align: center"> votes</label>

    <img
      src="assets/icons8-slide-up-48.png"
      class="sort-btn"
      id="aesc"
      (click)="sortc()"
    />
    <img src="assets/icons8-down-button-48.png" class="sort-btn" id="desc" />
  </div>

  <div class="date-sort-container">
    <label style="text-align: center">Creation Date</label>

    <img src="assets/icons8-slide-up-48.png" class="sort-btn" id="aesc-tag" />
    <img
      src="assets/icons8-down-button-48.png"
      class="sort-btn"
      id="desc-tag"
    />
  </div>

  <!-- nav bar ends -->

  <!-- hackathons-content -->

  <div class="hackathon-container">
    <div class="hackathon-idea">
      <div *ngFor="let d of Data">
        <div>
          <img
            class="title-img"
            src="assets/hackathon.png"
            height="80px"
            width="80px"
          />
          <h2 class="title-head">
            {{ d.title }}
          </h2>
        </div>
        <span *ngFor="let tag of d.tags" class="tag">{{ d.tags }}</span>
        <div class="description-box">
          <label>Skills : </label><span>{{ d.skills }}</span>
        </div>
        <div>
          <label>Created By : </label><span>{{ d.createdBy }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- hackathon-container ends -->

  <!-- got new idea -->
  <div class="got-new-idea-container">
    <h1 style="text-align: center; color: rgb(42, 31, 104)">Got New Idea ?</h1>
    <img id="idea" src="assets/got-new-idea.gif" />
    <button class="hackathon-btn" (click)="createNewHackathon()">
      Create New Hackathon
    </button>
    <div></div>
    <!--  outermost container div -->
  </div>
</div>
